.header
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
.Logout{
 float: right;
 text-align: center;
 
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}
.header h3 {
    float: left;
    color: black;
    text-align: center;

    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
  }

  .ctex{
    color: black;
  }

  .ctit{
    color: black;
  }